@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color:rgb(20, 19, 19);
    margin: 0;
}

/* logo */
#logo {
    float: left;
    margin-left: 20px;
    padding-left: 20px;
    text-transform: uppercase;
}

/* menu */
#menu li {
    float: right;
    margin: 30px;
    padding-right: 20px;
}

#logo #menu {
    line-height: 75px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid rgba(133, 167, 151, 0.9);
}

.active {
    border-bottom: 1px solid rgba(133, 167, 151, 0.9);
}

/* front section and front-image */
#front-section {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#front-image {
    height: 650px;
    width: 100%;
    background: url(/assets/images/martin-luther-king-155551.webp) no-repeat center center;
}

#cover-text {
    font-size: 250%;
    font-family: Roboto, sans-serif;
    text-align: right;
    text-transform:none;
    letter-spacing: 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(133, 167, 151, 0.9);

    width: 300px;
    height: 150px;

    padding-top: 1px;
    padding-left: 180px;
    padding-bottom: 50px;

    bottom: 100px;
    left: 0px;

    position: absolute; 
}

/* info at index page */
#front-div-flex {
    height: 300px;
    display: flex;
    margin-top: 20px;
    text-align: center;
    padding: 40px 50px 40px 50px;
    background-color:rgb(230, 226, 213);    
}

.front-div-inline {
    width: 30%;
    display: inline;
    margin-inline: 1%;
    text-align: justify;
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
    background-color:rgba(243, 240, 228, 1);  
    
}

.front-div-inline > h2 {
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 30px;
       
}


/* Form */
.form-section {
    clear: left;
    background: url(/assets/images/dr-martin-luther-king-jr-6060955.webp);
    background-size: cover;
    background-position: center;
    height: 800px;
}

.signup-form {
    margin: 100px 0 0 0;
    color:#000;
    background-color: rgba(133, 167, 151, 0.464);
    max-width: 400px;
    position: absolute;
    right: 2%;
    padding:30px;
    border-radius: 5px;
}

.signup-form > h2 {
    color:#000;
    margin-bottom: 20px;
}

.text-input {
    background: rgb(252, 251, 249);
    color:#000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 0px;
    border-radius:4px;
}

.text-input:hover {
    border-color:rgba(133, 167, 151, 0.9);
}

.join-button {
    margin-top:20px;
    border-radius:2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 120%;
    background-color: rgba(133, 167, 151, 0.9);
    color:rgb(252, 251, 249);
    display:block;
    float:right;
}

.join-button:hover {
    background-color:rgb(164, 206, 187);
    color:rgba(255, 255, 255, 0.9);
}


/* speech page */
.flex-container-text {
    width: 90%;
}

.maybe {
    width: 100%;
}

.paragraph {
    width: 20%;
}

.image {
    width: 20%;
}



/* links further */
footer {
    height: 150px;
    margin-top: 80px;
}

.links-further {
    text-align: center;
}

.links-further > li {
    display: inline;
    margin-inline: 40px;
    
}




/* flex-direction: column;*/