@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
}

/* logo */
#logo {
    float: left;
    margin-left: 20px;
    padding-left: 20px;
}

/* menu */
#menu li {
    float: right;
    margin: 30px;
    padding-right: 20px;
}

#logo #menu {
    line-height: 75px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* front section and front-image */
#front-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#front-image {
    background: url(../images/martin-luther-king-155551.png) no-repeat center center;
    height: 600px;
    width: 100%;
    
}

/* second page */

#second-page {
    
}
#learn-more {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


